.contact__container {
	border-spacing: 14px;
}

.contact__heading {
	font-size: 28px;
	border-bottom: 2px solid white;
}

.contact__title {
	font-size: 21px;
	border-bottom: 1px solid white;
}

.contact__person {
	font-size: 21px;
	background-color: aliceblue;
	color: black;
	padding: 14px;
	margin: 21px;
}

.contact__goBack {
	margin: 14px 0px;
	background-color: azure;
	color: black;
}

.contact__goBack:hover {
	background-color: black;
	color: white;
}
